<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="7adac948-bdf8-449e-832c-d4a45a76ba78" name="SteamDemo" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="7adac948-bdf8-449e-832c-d4a45a76ba78fileName">SteamDemo</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties><con:property><con:name>PlayerID</con:name><con:value>76561198262646095</con:value></con:property><con:property><con:name>GameID</con:name><con:value>[222880, 359550]</con:value></con:property><con:property><con:name>PlayerID_2</con:name><con:value/></con:property><con:property><con:name>GameID_2</con:name><con:value>[55100, 218230, 236390, 222880, 291480, 298110, 287700, 359550, 223100, 273350]</con:value></con:property></con:properties><con:reportParameters/></con:testSuite>